body {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 0px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 100;
}
div, ol, ul, li, a, img, form, label, input, iframe, button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  /*float: left;*/
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /*height: 100%;  can't use this because setting it back to auto doesn't work when we need it*/
  /*width: 100%;*/
  background-position: center;
  background-size: cover;
  border: none;
  list-style: none;
  font-family: "Alegreya Sans",sans-serif;
}
svg {
  width: 100%;
  height: 100%;
}
.button2,
.button1Item,
label:hover,
button:hover,
input[type=submit]:hover,
.clickable1:hover,
.cursorPointer {
  cursor: pointer;
}

/*colors*/
#topNav a.icon > svg:hover,
.orange1 {
  fill: #fcb8a8;
}
#topNav svg,
.orange2 {
  fill: #ff876d;
}
#topNav .parrot svg,
.orange2 {
  fill: #fff;
  /*fill: #3798d4;*/
}
#topNav svg > path.forecolor,
.orange2 {
  /*fill: #fff;*/
  fill: #3798d4;
  fill: #444;
}

.button2:hover,
/* .stepNavigator > a::after, */
.button1Item:hover,
.details,
.button1 a[href]:hover,
a[href].button1:hover,
a[href]:hover,
.button1 a:not([href]),
a:not([href]).button1,
a:not([href]),
a:hover + a[style] + .electionName,
a:hover + .electionName,
a:hover,
/* .stepNavigator > a::after, */
button:hover,
input[type=submit]:hover,
.clickable1:hover,
a[href].hover1,
.hover1,
.orange1 {
  background-color: #fcb8a8;
}
/* .grabbable, */
.button2,
.button1Item,
.details,
button,
input[type=submit],
.clickable1,
.button1 a,
a.button1,
a,
.orange2 {
  background-color: #ff876d;
  /* border: 1px solid white;
  margin: 3px; */
}
/* .button1:active, */
/* .button2:active, */
.button1Item:active,
a[href]:active,
button:active,
input[type=submit]:active,
.clickable1:active,
.opacity5 {
  opacity: .5;
}

#topNav a:not([href]),
.hasLabelFrame::after,
#maincolumn,
.blue {
  background-color: #3798d4;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  background-size: auto;
}
.newitem,
.blue2 {
  background-color: #009faf;
}

.blue3 {
  background-color: #4dd0e1;
}
#topNav,
body,
.slate {
  background-color: #444;
}
.black {
  background-color: black;
}
.a1,
a.a1:hover,
.bgColorTransparent {
  background-color: transparent;
}
.electionName,
.text1,
.white {
  background-color: white;
}

.userDescription,
/* .candidateDescription, */
.grey1 {
  color: #5d5d5d;
}
.electorChecks,
.red1 {
  color: #d53e3e;
}
.orange1 {
  color: #fcb8a8;
}
.orange2 {
  color: #ff876d;
}
.blue {
  color: #3798d4;
}
.slate {
  color: #444;
}
.electionName,
.text1,
.black {
  color: black;
}
/* .stepNavigator > a[href], */
.button1Item,
.details,
button,
input[type=submit],
.clickable1,
.button1 a,
a.button1,
a,
.text2,
#maincolumn,
.white {
  color: white;
}

/* basic layout */
#maincolumn {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 0 20px 0;
  margin: 5px 0 0 0;
  /*background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  background-size: auto;*/
}
#topNav {
  width: 100%;
  /*text-align: right;*/
  /*padding: 5px;*/
}
.mainheader {
  width: 100%;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
  /* font-family: fantasy; */
  text-transform: uppercase;
}

/* cssremove3 */

/* ballot layout and skin */
.workspace {
  padding: 0 10px 0 10px;
  width: 100%;
}
#instructions {
  width: 100%;
  font-size: 20px;
}
.row1,
.w100 {
  width: 100%;
}
.w75 {
  width: 75%;
}
.w67 {
  width: 67%;
}
.w50 {
  width: 50%;
}
.w33 {
  width: 33%;
}
.w25 {
  width: 25%;
}
.itemlist {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  min-height: 50px;
}

.hasLabelFrame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: 2px solid #aaaaaa;*/
  border: 2px solid #fff;
}
.hasLabelFrame::after {
  content: "Unranked (tied for last)";
  position: absolute;
  font-size: 17px;
  top: -7px;
  left: 10px;
  padding: 0 5px 0 5px;
}
#rankeditems::after {
  content: "Ranked";
}
#electorateUl::after {
  content: "Current Electorate";
}
#pendingUl::after {
  content: "Pending Invites";
}
#unsentUl::after {
  content: "Unsent Invites";
}
/* cssremove1 */
.grabbable,
.grippy,
.grabby,
.cursorMoveGrab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
/* cssremove2 */

/*hide rankingTools box when dragging*/
li.gu-mirror > .rankingTools {
  display: none;
}

/* conditional hiding */
.hidden3,
.hidden2,
.hidden1,
.hidden {
  visibility: hidden;
  transition: visibility 0s linear 0s !important;
}
ol .hidden2:checked,
ol .hidden2:checked ~ .hidden3,
ol li:hover .hidden2,
ul li[data-isNew="new"] .hidden1 {
  visibility: visible;
}

/* rank counting (FUNCTIONAL) */
/* increment the rank with each candidate by default */
.incrementsCounter > li {
  counter-increment: rank;
}
/* do not increment the rank for gu-transit items that fall after a tied item, nor the ranks for items within a tie that fall after a gu-transit item, since they might not be coming from a tie */
.incrementsCounter > li[data-tie] + .gu-transit,
.incrementsCounter > li.gu-transit + [data-tie="middle"],
.incrementsCounter > li.gu-transit + [data-tie="end"],
.incrementsCounter > li[data-tie] + [data-tie] {
  counter-increment: none;
}
.incrementsCounter > li[data-tie] + [data-tie="start"]:not(.gu-transit),
/* increment the rank for gu-transit items that fall right after the end of a tie */
.incrementsCounter > li[data-tie="end"] + .gu-transit {
  counter-increment: rank;
}
/* actually show the count */
.orderdisplay::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.incrementsCounter > li .orderdisplay::before {
  content: counter(rank);
}

/* other stuff */
label,
input,
.button2,
.button1Item,
.details,
button,
input[type=submit],
.clickable1,
.button1 a,
a.button1,
a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  transition: all .25s;
}
.electionName {
  /*height: 100%;*/
  width: 50%;
  text-align: left;
}
.leftMenu {
  width: 50%;
  text-align: left;
}
.rightMenu {
  width: 50%;
  text-align: right;
}
#topNav .icon,
#topNav img {
  height: 33px;
  width: 30.5px;
  vertical-align: bottom;
  padding: 5px;
}
#topNav .parrot {
  padding: 0;
}
.rightMenu > div {
  font-size: 20px;
  padding: 5px;
}
.leftMenu a {
  margin: 0 3px 0 0;
  border-radius: 6px 6px 0 0;
  padding: 5px;
}
.rightMenu a {
  margin: 2px 0 2px 0;
  border-radius: 6px;
  padding: 3px 5px 3px 5px;
}

/* revamp */
.text1square {
  height: 41px;
  width: 41px;
  line-height: 41px;
  vertical-align: top;
}
.text2,
.font15 {
  font-size: 15px;
}
.grabbable,
.text1square,
.text1,
.font20 {
  font-size: 20px;
}
/* .grabbable, */
.text1,
.padding10 {
  padding: 10px;
}
.text2,
.paddingTop4 {
  padding: 4px 0px 0px 0px;
}
.text2,
.text1,
.textLeft {
  text-align: left;
}
label,
.textRight {
  text-align: right;
}
.text1square,
.textCenter {
  text-align: center;
}
.a1,
.underline {
  text-decoration: underline;
}
.row1,
.margin4p0p4p0p {
  margin: 4px 0px 4px 0px;
}
