html {
	height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway","Alegreya Sans",sans-serif;
  font-size: 0px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-weight: normal;
}
div, ol, ul, li, a, img, form, label, input, iframe, button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-position: center;
  background-size: cover;
  border: none;
  list-style: none;
  font-family: "Raleway","Alegreya Sans",sans-serif;
}

/*colors*/

.checkboxUI0,
.input-text-1,
.border-bottom-2,
.border-color-3 {
  border-color: #9aad90; /* chrome paisley light */
}
.border-color-4 {
  border-color: #64765b;  /* chrome paisley leaf */
}
.border-color-5 {
  border-color: #504a43;  /* chrome paisley shadow */
}
[type=checkbox]:checked + .checkboxUI0::after,
.border-color-6 {
  border-color: #05535b;   /* chrome paisley bluish */
}
.border-1,
.border-bottom-1,
.border-color-7 {
  border-color: #e6dec7;  /* chrome paisley tan */
  border-color: #f2eee3;  /* chrome paisley tan half white */
}
.clickable4:not([href]),
.fill-1 {
  fill: #fff;
}
svg > path.forecolor,
.fill-2 {
  fill: #9aad90; /* chrome paisley light */
}
.clickable4[href]:hover,
.fill-3 {
  fill: #9aad90; /* chrome paisley light */
}
.fill-4 {
  fill: #9aad90; /* chrome paisley light */
  fill: #504a43;  /* chrome paisley shadow */
  fill: #64765b;  /* chrome paisley leaf */
}
.clickable4,
.fill-5 {
  fill: #9aad90; /* chrome paisley light */
  fill: #504a43;  /* chrome paisley shadow */
}
.drag-drop-1.gu-mirror,
.clickable3,
.input-text-1,
.text3,
.bg-none {
  background: none !important;
}
.bg-color-1 {
  background-color: #504a43;  /* chrome paisley shadow */
}
.text4,
.clickable1,
button,
input[type=submit],
.clickable1,
.bg-color-2 {
  background-color: #64765b;  /* chrome paisley leaf */
}
/* the seletion selector breaks firefox for the other selectors, so it goes by itself */
.input-text-1::selection {
  background-color: #9aad90; /* chrome paisley light */
  /*
   * Background pattern from Toptal Subtle Patterns.
   * https://www.toptal.com/designers/subtlepatterns/black-thread/
   * Licensed under CC-BY-SA 3.0 US
   * https://creativecommons.org/licenses/by-sa/3.0/us/legalcode
   */
  background-image: url("/img/black-thread-light.png");
  background-size: auto;
}

body,
.clickable4:not([href]),
button:hover,
input[type=submit]:hover,
.clickable1:hover:not(.disabled),
.bg-color-3 {
  background-color: #9aad90; /* chrome paisley light */
  /*
   * Background pattern from Toptal Subtle Patterns.
   * https://www.toptal.com/designers/subtlepatterns/black-thread/
   * Licensed under CC-BY-SA 3.0 US
   * https://creativecommons.org/licenses/by-sa/3.0/us/legalcode
   */

  background-image: url("/img/black-thread-light.png");
  background-size: auto;
}
#topNav,
/* body, */
.bg-color-4 {
  background-color: #444;
}
.a1,
a.a1:hover,
.bgColorTransparent {
  background-color: transparent;
}
.text1,
.bg-color-white {
  background-color: white;
}
.bg-color-5 {
  background-color: #77dd76;
}
.bg-color-6 {
  background-color: #05535b;  /* bluish */
}

#sidenav,
.container1,
.bg-color-7 {
  background-color: #e6dec7;  /* chrome paisley tan */
  background-color: #f2eee3;  /* chrome paisley tan half white */
}
.select1:hover,
.hover-1:hover,
.bg-color-8 {
  background-color: #d2d2b9;  /* chrome paisley tan leaf mix */
  background-color: #c7cebb;  /* chrome paisley tan half white leaf mix */
}

.mainheader,
.text3,
.color-2 {
  color: #504a43;  /* chrome paisley shadow */
}
.clickable4[href]:hover,
.color-3 {
  color: #9aad90; /* chrome paisley light */
}
.color-4 {
  color: #9aad90; /* chrome paisley light */
  color: #504a43;  /* chrome paisley shadow */
  color: #64765b;  /* chrome paisley leaf */
}
.clickable5,
.clickable4,
.color-4 {
  color: #9aad90; /* chrome paisley light */
  color: #504a43;  /* chrome paisley shadow */
}
.hoverlink-1,
.clickable5:hover,
.color-7 {
  color: #e6dec7;  /* chrome paisley tan */
  color: #f2eee3;  /* chrome paisley tan half white */
}
.hover-children:hover > .hover-child-2,
.clickable2:hover:not(.disabled),
.orange2 {
  color: #64765b;
}
.clickable2,
.input-text-1,
.text1,
.color-black {
  color: black;
}
.clickable4:not([href]),
button,
input[type=submit],
.clickable1,
.clickable3,
a,
.text2,
.text4,
.color-white {
  color: white;
}

svg {
  width: 100%;
  height: 100%;
}
label,
button,
input[type=submit],
a[href],
.clickable1:not(.disabled),
.clickable2:not(.disabled),
.cursor-pointer {
  cursor: pointer;
}

/* basic layout */
#maincolumn {
  height: 100%;
  width: 82%;
  margin: 0 0 0 18%;
  text-align: left;
  top: 0;
}
#sidenav {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 48px;
  width: 18.5%;
  height: 100%;
}
@media only screen and (min-width: 1400px) {
  #maincolumn {
    width: 64%;
  }
  #sidenav {
  }
}
.clickable4[href]:hover {
  transform: scale(1.05);
}
#topNav {
  width: 100%;
}
.mainheader {
  width: 100%;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
}
.clickable4,
.mainheader,
.text-transform-uppercase {
  text-transform: uppercase;
}
.workspace {
  padding: 0 32px 0 32px;
  width: 100%;
}
.container1 {
  padding: 10px;
  margin: 0px 0px 10px 0px;
  width: 100%;
}
.clickable4,
.clickable3,
.w100 { width: 100%; }
.w75 { width: 75%; }
.w67 { width: 67%; }
.w50 { width: 50%; }
.w33 { width: 33%; }
.w25 { width: 25%; }
.w20 { width: 20%; }
.w15 { width: 15%; }

.grabbable,
.grippy,
.grabby,
.cursorMoveGrab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* conditional hiding */
.drag-drop-1.gu-mirror .hidden3,
.hidden2,
.hidden1,
.hidden {
  visibility: hidden;
  transition: visibility 0s linear 0s !important;
}
.incrementsCounter .hidden1,
ol .hidden2:checked,
ol li:hover .hidden2 {
  visibility: visible;
}
.display-none-1 {
  display: none;
}
[data-isNew="new"] .display-none-1 {
  display: inline-block;
}

/* rank counting (FUNCTIONAL) */
/* increment the rank with each candidate by default */
.incrementsCounter > * {
  counter-increment: rank;
}
/* do not increment the rank for gu-transit items that fall after a tied item, nor the ranks for items within a tie that fall after a gu-transit item, since they might not be coming from a tie */
.incrementsCounter > [data-tie] + .gu-transit,
.incrementsCounter > .gu-transit + [data-tie="middle"],
.incrementsCounter > .gu-transit + [data-tie="end"],
.incrementsCounter > [data-tie] + [data-tie] {
  counter-increment: none;
}
.incrementsCounter > [data-tie] + [data-tie="start"]:not(.gu-transit),
/* increment the rank for gu-transit items that fall right after the end of a tie */
.incrementsCounter > [data-tie="end"] + .gu-transit {
  counter-increment: rank;
}
/* actually show the count */
.orderdisplay::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.incrementsCounter .orderdisplay::before {
  content: counter(rank);
}

/* other stuff */
a[href]:active,
button:active,
input[type=submit]:active,
.clickable1:active,
.clickable2:active,
.clickable1.disabled,
.clickable2.disabled,
.opacity5 {
  opacity: .5;
}
.label0,
/* label, */
input,margin-right-1
.input-text-1,
.text3,
a,
button,
input[type=submit],
.clickable1,
/* .clickable1 select, */
.clickable2,
.clickable3,
.clickable {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: .15em;
  transition: all .25s;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

/* revamp */
.text1square {
  height: 41px;
  width: 41px;
  line-height: 41px;
  vertical-align: top;
}
.text2,
.font15 {
  font-size: 15px;
}
.text4,
.font16 {
  font-size: 16px;
}
.grabbable,
.text1square,
.text1,
.font20,
.font-size-1 {
  font-size: 20px;
}
.font-size-3 {
  font-size: 23px;
}
.font-size-4 {
  font-size: 18px;
}
.text4 {
  border-radius: 10px;
}
.text1,
.padding10 {
  padding: 10px;
}
.padding-1 {
  padding: 5px !important;
}
.padding-2 {
  padding: 0 0 0 20px !important;
}
.text4,
.padding-sides-small {
  padding: 0px 5px 0px 5px;
}
.padding-top-med {
  padding: 15px 0px 0px 0px;
}
.text2,
.paddingTop4 {
  padding: 4px 0px 0px 0px;
}
.text2,
.text1,
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.clickable4,
.text1square,
.textCenter {
  text-align: center;
}
.a1,
.underline {
  text-decoration: underline !important;
}
.font-weight-bold {
  font-weight: 800 !important;
}
.margin-bottom-2,
.margin-bottom-1 {
  margin: 0px 0px 4px 0px !important;
}
.margin-bottom-1:last-child {
  margin: 0;
}
.label0,
/* label, */
input,margin-right-1
.input-text-1,
.text3,
button,
input[type=submit],
.clickable1,
.clickable2,
.clickable3,
.margin-sides-1 {
  margin: 0px 2px 0px 2px;
}
.margin-right-1 {
  margin: 0px 6px 0px 0px;
}
/* noe removeable? */
.row-spacing1 {
  border-spacing: 0px 8px;
}
.table {
  display: table;
  table-layout: fixed;
}
.table > * {
  display: table-row;
}
.table > * > * {
  display: table-cell;
}
.select1,
.hover-1,
.transition-p25s {
  transition: all .15s;
}
.hoverlink-1,
.clickable5:hover,
.text-decoration-underline {
  text-decoration: underline;
}
.nowrap {
  white-space: nowrap !important;
}
.overflow-visible {
  overflow: visible !important;
}
.drag-drop-1.gu-mirror,
.border-none {
  border: none !important;
}
.border-1 {
  border-width: 1px;
  border-style: solid;
}
.input-text-1,
.border-bottom-2,
.border-bottom-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.input-text-1 {
  font-weight: 200;
}
.hover-children:hover > .hover-child-1,
.input-text-1:hover,
.input-text-1:focus {
  outline: none;
}

.input-text-1::-webkit-input-placeholder { /* Chrome */
  color: #444;
  font-style: italic;
}
.input-text-1:-ms-input-placeholder { /* IE 10+ */
  color: #444;
  font-style: italic;
}
.input-text-1::-moz-placeholder { /* Firefox 19+ */
  color: #444;
  font-style: italic;
}
.input-text-1:-moz-placeholder { /* Firefox 4 - 18 */
  color: #444;
  font-style: italic;
}
.select1 {
   background: transparent;
	 font-size: inherit;
	 color: inherit;
	 cursor: pointer;
	 border: none;
	 border-bottom: solid 1px;
}
.select1:focus{
    outline: none;
}

/* custom checkbox adapted from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.checkbox0 {
  display: none;
}
/* Create a custom checkbox */
.checkboxUI0 {
  background-color: #eee;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
}
/* On mouse-over, add a grey background color */
.checkboxUI0:hover {
  background-color: #ccc;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkboxUI0:after {
  content: "";
  position: absolute;
  display: none;
  left: 35%;
  top: 10%;
  width: 25%;
  height: 50%;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Show the checkmark when checked */
[type=checkbox]:checked ~ .checkboxUI0:after {
  display: block;
}

/* for Alchemy graph stuff */
.node text {
    fill: black;
    font-weight: 200;
    text-anchor: middle;
    text-shadow: none;
}

.plot_area {
    width: 600px;
    height: 600px;
}

@media print {
	body, div {
		height: auto;
		overflow: visible !important;
		display: block;
	}
}
