div, ol, ul, li, a, img, form, label, input, iframe, button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-position: center;
  background-size: cover;
  border: none;
  list-style: none;
  font-family: "Raleway","Alegreya Sans",sans-serif;
}
